<!-- views/new_document.erb -->
<form action="/new" method="post">
  <label for="new_document">Add a new document:</label>
  <div>
    <input class="new_document" type="text" name="document_name" value=""/>
    <button type="submit">Create</button>
  </div>
</form>
